@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    background: rgb(175, 225, 196);
    background: linear-gradient(90deg, rgba(175, 225, 196, 0.7) 13%, rgba(158, 206, 223, 0.7) 38%, rgba(190, 204, 230, 0.7) 64%, rgba(223, 235, 214, 0.7) 84%, rgba(231, 237, 238, 0.7) 98%);

    font-family: TTLaundryGothicB;
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    body {
        padding: 0 12px;
    }
}

.top-nav {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-logo{
    width: 97px;
    height: 59px;
}

@media (max-width: 768px) {
    .top-nav {
        padding: 20px 10px;
    }

    .nav-logo {
        width: 60px;
        height: 40px;
    }
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-items li {
    color: #666;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.nav-items.mobile {
    display: none;
    flex-wrap: wrap;
    gap: 14px;
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    .nav-items.mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
    .nav-items li {
        font-size: 16px;
    }
}

.nav-sns {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-sns img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .nav-sns img {
        width: 20px;
        height: 20px;
    }
}

header {
    padding-top: 180px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: #42446e;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
}
header h1 span {
    background: linear-gradient(247deg, #e72b2b -2.06%, #f59920 100%);
    background-clip: text;
    
    color: transparent; 
}
header img {
    width: 300px;
    border: 5px solid transparent;
    border-radius: 150px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8220de 0%, #c92c2c 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@media (max-width: 768px) {
    header {
        padding-top: 68px;
        padding-bottom: 160px;
        flex-direction: column-reverse;
        gap: 10px;
    }
    header h1 {
        font-size: 28px;
        line-height: 120%;
        text-align: center;
    }
    header img {
        width: 200px;
    }
}

.tech{
    padding-top: 250px;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: #42446e;
    padding-bottom: 50px;
}

.stack{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.title{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-text{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-bottom: 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-upper {
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    width: 97px;
    height: 59px;
}

.footer-contact {
    display: flex;
    gap: 40px;
    align-items: center;
    /* 텍스트 스타일 */
    color: #42446e;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    flex-wrap: wrap;
}
.footer-contact a {
    /* 기본속성으로 적용되어 있는 언더라인 제거 */
    color: #42446e;
    text-decoration: none;
}
footer .footer-links {
    display: flex;
    gap: 20px;
}

.hr {
    width: 100%;
    border-bottom: solid 1px #666;
}

.madeby {
    color: #666;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
.madeby span {
    background: linear-gradient(0deg, #13b0f5 -2.06%, #e70faa 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */}