@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 20px;
}

.top-nav {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-logo{
    width: 97px;
    height: 59px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-items li {
    color: #666;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.nav-sns {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-sns img {
    width: 30px;
    height: 30px;
}

header {
    padding-top: 220px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: #42446e;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
}
header h1 span {
    background: linear-gradient(247deg, #3951dd -2.06%, #20f5f5 100%);
    background-clip: text;
    
    color: transparent; 
}
header img {
    width: 300px;
    border: 5px solid transparent;
    border-radius: 150px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8220de 0%, #c92c2c 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.tech{
    padding-top: 250px;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: #42446e;
    padding-bottom: 50px;
}

.stack{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.title{
    font-family: 'NanumSquare';
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-text{
    font-family: 'NanumSquare';
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-bottom: 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-upper {
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 97px;
    height: 59px;
}

.footer-contact {
    display: flex;
    gap: 40px;
    align-items: center;
    /* 텍스트 스타일 */
    color: #42446e;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.footer-contact a {
    /* 기본속성으로 적용되어 있는 언더라인 제거 */
    color: #42446e;
    text-decoration: none;
}
footer .footer-links {
    display: flex;
    gap: 20px;
}

.hr {
    width: 100%;
    border-bottom: solid 1px #666;
}

.madeby {
    color: #666;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
.madeby span {
    background: linear-gradient(0deg, #13b0f5 -2.06%, #e70faa 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */}